manifest {
    name        = 'te_pipeline'
    author      = 'tdw-89'
    description = 'Minimal Nextflow pipeline for de novo TE discovery using RepeatModeler and RepeatMasker'
}

params {
    genome              = null
    prefix              = null
    outdir              = 'results'
    repeatmodeler_args  = ''
    repeatmasker_args   = ''
}

process {
    withName: REPEATMODELER_BUILDDATABASE {
        publishDir = [path: "${params.outdir}/builddatabase", mode: 'copy']
    }
    withName: REPEATMODELER_REPEATMODELER {
        publishDir = [path: "${params.outdir}/repeatmodeler", mode: 'copy']
        ext.args   = params.repeatmodeler_args
    }
    withName: REPEATMASKER_REPEATMASKER {
        publishDir = [path: "${params.outdir}/repeatmasker", mode: 'copy']
        ext.args   = params.repeatmasker_args
    }
}

profiles {
    standard {
        process.executor = 'local'
    }
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
    }
    conda {
        conda.enabled = true
    }
}
