/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining module-specific options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    withName: 'REPEATMODELER_BUILDDATABASE' {
        publishDir = [
            path: { "${params.outdir}/repeatmodeler/database" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'REPEATMODELER_REPEATMODELER' {
        publishDir = [
            path: { "${params.outdir}/repeatmodeler/families" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'REPEATMASKER_REPEATMASKER' {
        ext.args = '-gff -nolow'
        publishDir = [
            path: { "${params.outdir}/repeatmasker" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ONECODETOFINDTHEMALL' {
        publishDir = [
            path: { "${params.outdir}/onecodetofindthemall" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
